.ant-carousel .slick-slide {
    text-align: center;
    height: 1.3rem;
    line-height: 1.3rem;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide img {
    color: #fff;
    width: 100%;
  }