/* #__nuxt,#__layout,#__banxin{
    width: 100%;
    height: 100%;
} */

.pb50 {
    width: 100%;
    height: 100%;
    padding-bottom: 0.5rem;
}



.goback,.classify-type ul li i,.head-tit .search {
    background: url(../../static//img/icon.png) no-repeat;
    background-size: .75rem;
}
